.Tags {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: auto;
}
.tagLink {
  color: #901c1c;
  width: fit-content;
  padding: 5px;
  margin: 5px;
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: 500;
  border: 0.1rem solid #c4c4c4;
}
.tagLink:hover {
  color: white;
  background-color: #901c1c;
}
