.photgrapherImage {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}
.photorgaphersContainers {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.photgrapherContainer {
  padding: 60px 60px 0px 60px;
}
.photographerName {
  color: #d3573c;
  margin: 3px;
}
.location {
  color: #901c1c;
  margin: auto;
  font-size: small;
}
.tagLine {
  font-size: x-small;
  margin: 2px;
}
.price {
  color: #757575;
  font-size: x-small;
  margin-top: 4px;
  margin-bottom: 6px;
}
.Tags {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: auto;
}
